body{
    background-color:#f9eed2;
    color:#636967 !important;
}

h3{
    margin-top: 5px;
    color:#636967 !important;
}

p{
    color:#636967 !important;
}

h3 .headline {
    margin-top: 15px;

}
.panel-body{
    padding-top:15px;
}

.alert{
    margin-top:50px;
}

.margin-top{
    margin-top:15px;
}

.label{
    padding:5px;
    margin:2px !important;
    margin-top:10px !important;
    line-height: 3 !important;
}

.jumbotron {
    background:#f9eed2;
    background-image: url("bilder/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    color:white;
    height: 174px;
    margin-bottom: 0px !important;
}

.container{
    padding-top: 80px; !important
}

.panel-heading{
    padding:15px;
    background-color: #FAFAFA !important;
    color:black !important;
}

nav{
    background-color: #86afa5 !important;
    color:white !important;
}

nav a{
    color:white !important;

}
.active  a{
    color:black !important;
    background-color: #e0ebe8 !important;
}

.navbar-default .navbar-toggle{

    background-color: #86afa5 !important;

}

.navbar-default .navbar-toggle .icon-bar{
    background-color: white !important;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background-color: #66998c !important;

}

@media (max-width: 600){
.col-md-6{
    margin-bottom: 20px !important;
}
}


.hover{
    transition: all .2s ease-in-out;
}

.hover:hover{
    transform: scale(1.02);
}
